# Environment Files
.env
.env.*
**/.env
**/.env.*

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv/
env/
venv/
*.bak
backend/sql_app.db

# Node / Web
node_modules/
.next/
out/
build/
.vercel/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.tsbuildinfo

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Docker
.dockerignore
